@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root {
    --text-primary: #04BA71;
    --text-secondary: #1B98E0;
    --text-tritary: #FDC827;
    --background: #F5F2EB;
    --extra: #04454D;
}

* {
    font-family: 'Poppins', sans-serif;

}

.img-carousel {
    width: 100%;
}


#about .subtitle {
    font-size: 20px;
}

#kajian-home {
    padding-top: 50px;
    padding-bottom: 100px;
}

.card-title {
    font-size: 26px;
    font-weight: bold;
}

.card-text {
    font-size: 24px;
}

#tokoh {
    padding-top: 50px;
}

#tokoh .title {
    font-size: 18px;
    margin-top: 30px;
}

#tokoh .subtitle {
    font-size: 16px;
}


.button {
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    background: var(--Extra, #04454D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .akun {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    #tokoh {
        padding-top: 0;
        margin-top: -30px;
    }

    #tokoh .title {
        margin: 10px;
    }

    .title {
        text-align: center;
        margin: 0;
    }

    .subtitle {
        text-align: justify;
        margin: 0;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }


    .logo-navbar {
        width: 80%;
        height: 80%;
        margin-right: 0;
    }


    .col-md-4 {
        margin-bottom: 20px;
    }

    iframe {
        width: 85%;
        height: 100%;
    }

    .button {
        margin-top: 10px;
    }

    #about .title {
        text-align: left;
    }

    #about .subtitle {
        text-align: left;
    }

    .dropdown {
        margin-top: 15px;
    }

    .bungkus {

        text-align: center;
    }

    footer {
        padding-top: 30px;
    }

    /* footer .logo{
        width: 50%;
        height: 50%;
    } */

}


#kajian-home {
    padding-top: 50px;
    padding-bottom: 100px;
}

#kajian-home h2 {
    font-size: 18px;
    font-weight: bold;
}

#kajian-home .title {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

#contact {
    background-color: #F5F2EB;
}

#kajian-home .card-title {
    font-size: 26px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}


#kajian-video .title {
    color: var(--Black, #000);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}


/* Contact Section */
.contact-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.contact-subtitle {
    color: #3B3B3B;
    text-align: center;
    font-size: 16px;
}


footer {
    /* padding-top: 25px;
    padding-bottom: 25px; */
    background-color: var(--extra);
    color: #fff;
}

.follow {
    font-size: 18px;
}



@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .akun {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    #tokoh {
        padding-top: 0;
        margin-top: -30px;
    }

    #tokoh .title {
        margin: 10px;
    }

    .title {
        text-align: center;
        margin: 0;
    }

    .subtitle {
        text-align: justify;
        margin: 0;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }


    .logo-navbar {
        width: 80%;
        height: 80%;
        margin-right: 0;
    }


    .col-md-4 {
        margin-bottom: 20px;
    }

    iframe {
        width: 85%;
        height: 100%;
    }

    .button {
        margin-top: 10px;
    }

    #about .title {
        text-align: left;
    }

    #about .subtitle {
        text-align: left;
    }

    .dropdown {
        margin-top: 15px;
    }

    .bungkus {

        text-align: center;
    }

    footer {
        padding-top: 30px;
    }

}


/*About begin */
#about {
    padding-top: 50px;

}

#about .title {
    font-weight: bold;
    font-size: 40px;
}

#about .subtitle {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#about .paragraf {
    font-size: 16px;
}


.card-header {
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#about .card-body {
    background-color: var(--text-tritary);
    color: #000;
}

#about .card-title {
    font-size: 24px;
    font-weight: bold;
}

#about .list-article {
    font-size: 14px;
}

#about .sifat {
    transform: rotate(0.004deg);
    flex-shrink: 0;
    border-radius: 8px;
    background: #3B3B3B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#about .sifat .container {
    padding: 30px;
}

#about .sifat .title-sifat {
    font-size: 26px;
    font-weight: bold;
}


#about .judul {
    font-size: 14px;
    font-weight: bold;
}

#about {
    font-size: 12px;
}

ol {
    font-size: 14px;
}

/*About end */


/* Kajian begin */
#kajian-hero {
    background-color: var(--extra);
    padding-top: 100px;
    padding-bottom: 100px;
}

#kajian-hero .title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#kajian-hero .subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

#kajian-hero .detail {
    padding-right: 125px;
}

.button-kajian-hero {
    margin-top: 50px;
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Extra, #04454D);
    font-size: 16px;
}

.control {
    padding-top: 100px;
}


#kajian {
    padding-bottom: 100px;
}

#kajian .title {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.button-kajian {
    border: none;
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;
    color: var(--background);
    border-radius: 8px;
    background: var(--Primary, #4785FF);
    box-shadow: 0px 3px 10px 0px rgba(32, 132, 217, 0.50);
}

.button-kajian:hover {
    background: var(--Primary, #3366CC);
    box-shadow: 0px 1px 5px 0px rgba(32, 132, 217, 0.50);
}

#kajian .card {
    border: none;
    border-color: var(--text-tritary);
}

.nama-setor {
    font-size: 16px;
    font-weight: bold;
}

.jumlah {
    font-size: 14px;
}

.bungkus {
    background-color: var(--text-tritary);
    margin-right: 12px;
}

#poster {
    padding-top: 50px;
}

#poster .title {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#poster .sub-title {
    color: #FFF;

    /* Text1-Poppins */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 375px;
    height: 330px;
}

.image-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.img-ov {
    width: 375px;
    height: 330px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    padding-left: 25px;
}

.image-container .overlay {
    opacity: 1;
}


.btn-poster {
    margin-top: 150px;
    margin-bottom: 20px;
    color: #fff;
    background-color: var(--text-primary);
}


.btn-poster:hover {
    color: #fff;
    background-color: var(--extra);
}


.btn-view {
    color: #fff;
    border-radius: 8px;
    background: var(--Dot1, #04454D);
    font-size: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Kajian end */

.nav-link.active {
    border-bottom: 4px solid #FDC827;
}


/*  */
.img-hero-about {
    width: 100%;
    height: 85vh;
}

@media (max-width: 767px) {
    .img-hero-about {
        height: auto;
    }
}


.card-kajian-slide {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: auto;
}

@media (max-width: 989px) {

    .custombox .blog-list-widget,
    .custombox .blog-box {
        margin: 1rem 0;
    }

}


.video-card {
    position: relative;
    overflow: hidden;
    width: 95%;
    margin-top: 40px;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio for video */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
}

.video-background iframe {
    width: 95%;
    height: 80%;
}

.white-overlay {
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateX(-50%);
    width: 70%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-media-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #333;
    text-align: center;
}

.social-icons {
    margin-top: -160px;
}

.detail-kajian {
    margin-top: 100px;
    font-weight: lighter;
}

.postkajian-kajian {
    width: 100%;
    border-radius: 3%;
}

#kajian .col-kanan {
    margin-top: -100px;
    width: 30%;
    margin-left: 38px;
}
