@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
 */


/* grand design */
:root {
    --text-primary: #04BA71;
    --text-secondary: #1B98E0;
    --text-tritary: #FDC827;
    --background: #F5F2EB;
    --extra: #04454D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

/* p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
} */

/* a {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
} */

nav {
    background-color: var(--extra);
}


.navbar {
    padding: 0 25px;
}

.logo-navbar {
    margin-right: 100px;
}

.small-placeholder::placeholder {
    font-size: 12px;
    padding: 15px;
}

.form-control-sm {
    border-radius: 50px;
}

.btn-login {
    border-radius: 50px;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-up {
    width: 110px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Background, #F5F2EB);
    font-size: 12px;
    background-color: var(--extra);
    color: #fff;
}

.sign-in {
    width: 110px;
    height: 32px;
    flex-shrink: 0;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #FFF;
}

.fs-14 {
    font-size: 14px;
}

.icon-akun {
    margin-left: 60px;
}

.icon-profile {
    margin-left: 77px;
}

.icon-logout {
    margin-left: 66px;
}

/* .img-carousel {
    height: 100vh;
    width: 100%;
} */

#tokoh {
    padding-top: 50px;
}

#tokoh .title {
    font-size: 22px;
    margin-top: 30px;
}

#tokoh .subtitle {
    font-size: 16px;
}


.button {
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    background: var(--Extra, #04454D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .akun {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    #tokoh {
        padding-top: 0;
        margin-top: -30px;
    }

    #tokoh .title {
        margin: 10px;
    }

    .title {
        text-align: center;
        margin: 0;
    }

    .subtitle {
        text-align: justify;
        margin: 0;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }


    .logo-navbar {
        width: 80%;
        height: 80%;
        margin-right: 0;
    }


    .col-md-4 {
        margin-bottom: 20px;
    }

    iframe {
        width: 85%;
        height: 100%;
    }

    .button {
        margin-top: 10px;
    }

    #about .title {
        text-align: left;
    }

    #about .subtitle {
        text-align: left;
    }

    .dropdown {
        margin-top: 15px;
    }

    .bungkus {

        text-align: center;
    }

    footer {
        padding-top: 30px;
    }

    /* footer .logo{
        width: 50%;
        height: 50%;
    } */

}


#kajian-home {
    padding-top: 50px;
    padding-bottom: 100px;
}

#kajian-home h2 {
    font-size: 18px;
    font-weight: bold;
}

#kajian-home .title {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

#contact {
    background-color: #F5F2EB;
}

#kajian-home .card-title {
    font-size: 26px;
    font-weight: bold;
}

.card-text {
    font-size: 24px;
}


/* Contact Section */
.contact-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.contact-subtitle {
    color: #3B3B3B;
    text-align: center;
    font-size: 16px;
}


footer {
    /* padding-top: 25px;
    padding-bottom: 25px; */
    background-color: var(--extra);
    color: #fff;
}

.follow {
    font-size: 18px;
}




/*About begin */
#about {
    padding-top: 100px;

}

#about .title {
    font-weight: bold;
    font-size: 40px;
}

#about .subtitle {
    font-weight: bold;
    font-size: 18px;
}

#about .paragraf {
    font-size: 16px;
}


.card-header {
    background-color: #fff;
    border: #FDC827 1px solid;
    font-weight: bold;
    font-size: 20px;
}

#about .card-body {
    background-color: var(--text-tritary);
    color: #000;
}

#about .card-title {
    font-size: 24px;
    font-weight: bold;
}

#about .list-article {
    font-size: 14px;
}

#about .sifat {
    transform: rotate(0.004deg);
    flex-shrink: 0;
    border-radius: 8px;
    background: #3B3B3B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#about .sifat .container {
    padding: 30px;
}

#about .sifat .title-sifat {
    font-size: 26px;
    font-weight: bold;
}


#about .judul {
    font-size: 14px;
    font-weight: bold;
}

#about {
    font-size: 12px;
}

ol {
    font-size: 14px;
}

/*About end */


/* Kajian begin */
#kajian-hero {
    background-color: var(--extra);
    padding-top: 100px;
    padding-bottom: 100px;
}

#kajian-hero .title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#kajian-hero .subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

#kajian-hero .detail {
    padding-right: 125px;
}

.button-kajian-hero {
    margin-top: 50px;
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Extra, #04454D);
    font-size: 16px;
}

.control {
    padding-top: 100px;
}


#kajian {
    padding-bottom: 100px;
}

#kajian .title {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.button-kajian {
    width: 150px;
    height: 36px;
    flex-shrink: 0;
    line-height: 36px;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    background: var(--Primary, #4785FF);
    /* ButtonHover */
    box-shadow: 0px 3px 10px 0px rgba(32, 132, 217, 0.50);
}

#kajian .card {
    border: none;
    border-color: var(--text-tritary);
}

.nama-setor {
    font-size: 16px;
    font-weight: bold;
}

.jumlah {
    font-size: 14px;
}

.bungkus {
    background-color: var(--text-tritary);
    padding-left: 20px;
}

#poster {
    padding-top: 50px;
}

#poster .title {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#poster .sub-title {
    color: #FFF;

    /* Text1-Poppins */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    opacity: 0;
    /* Tetapkan opacity awal ke 0 (transparan) */
    transition: opacity 0.3s;
    /* Efek transisi saat mengubah opacity */
    width: 100%;
    height: 100%;
    padding-left: 25px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.btn-poster {
    margin-top: 120px;
    color: #fff;
}

/* Kajian end */

.nav-link.active {
    border-bottom: 4px solid #FDC827;
}


/*  */
.img-hero-about {
    width: 100%;
    height: 85vh;
}

@media (max-width: 767px) {
    .img-hero-about {
        height: auto;
    }
}
