@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
 */
:root {
    --text-primary: #04BA71;
    --text-secondary: #1B98E0;
    --text-tritary: #FDC827;
    --background: #F5F2EB;
    --extra: #04454D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-right: -150px;
    margin-left: -150px;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h3 {
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.half,
.half .container>.row {
    height: 100%;
}

.container1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.bgsignup {
    background-image: url("/assets/img/bgsignup.png");
}

@media (max-width: 768px) {
    .bgsignup {
        background-size: 100%;
    }
}


/* @media (max-width: 990px) {

    .half,
    .half .container>.row {
        height: 130vh;
    }

    .half .bg {
        height: 200px;
    }
} */

@media (max-width: 768px) {

    .half,
    .half .container>.row {
        height: 100%h;
    }

    .half .bg {
        height: 300px;
    }

    .container1 {
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

}

.half .contents {
    background: #f6f7fc;
}

.half .contents,
.half .bg {
    width: 50%;
}


@media (max-width: 1199.98px) {

    .half .contents,
    .half .bg {
        width: 100%;
    }
}

.half .contents .form-control,
.half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}

.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
    background-size: cover;
    background-position: center;
}

.half a {
    color: var(--extra);
    text-decoration: underline;
    padding-top: 20px;
}

p {
    padding-top: 20px;
    padding-bottom: 50px;
}

.half .btn {
    height: 54px;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.btn-primary {
    background-color: var(--extra);
    border: var(--extra);
}

.btn-primary:hover {
    background-color: #ccc;
    color: #04454D;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: var(--extra);
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: var(--extra);
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #7e0cf5;
    opacity: .2;
}

.pagination {
    justify-content: center;
}

.pagination .page-link {
    text-decoration: none;
}

.btn-kategori {
    border: 3px solid var(--extra);
    border-radius: 5px;
}

.btn-kategori:hover {
    background-color: var(--extra);
    color: #fff;
}

.caption-title-signup {
    color: var(--extra);
    margin-top: -30px;
}

.btn-kategori {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid var(--extra);
    margin-bottom: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-kategori:hover {
    background-color: var(--extra);
    color: white;
}

.btn-kategori:active {
    background-color: var(--extra);
    border-color: var(--extra);
}

.btn-before {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid var(--extra);
    /* margin-right: 1000px; */
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 16px;
}

.btn-before:hover {
    background-color: var(--extra);
    color: white;
}

.btn-before:active {
    background-color: var(--extra);
    border-color: var(--extra);
}

.btn-after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--extra);
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 8px 16px;
}

.btn-after:hover {
    background-color: white;
    border: 1px solid var(--extra);
    color: var(--extra);
}

.btn-after:active {
    background-color: var(--extra);
    border-color: var(--extra);
}

.bulletin-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    list-style: none;
    margin-top: 30px;
}

.prev-slide {
    margin-right: 10%;
}


@media (max-width: 768px) {
    .prev-slide {
        margin-right: 3%;
    }

    .btn-before,
    .btn-after {
        font-size: 12px;
    }
}
